*{
    background-color: rgb(117, 59, 226);
}
.firstDiv{
    text-align:center;
    margin-top: 20%;
    color: white;
}
.palybtn{
    width: 250px;
    border-radius: 15px;
    height: 35px;
    color: white;
    background-color: rgb(11, 190, 11);
}
.main{
    background-color: white;
    height: 500px;
    position: relative;
    margin: 50px;
    border-left: 5px solid rgb(207, 162, 249);
}
h1{
    position: absolute;
    top: 2%;
    left: 45%;
    background-color: white;
}
.series{
    position: absolute;
    top: 9%;
    left: 5%;
    background-color: white;
}
.ques{
    position: absolute;
    top: 15%;
    left: 40%;
    background-color: white;
}
.option1{
    display: flex;
    position: absolute;
    top: 45%;
    left: 10%;
    background-color: white;
}
.btn{
    margin-right: 130px;
    border: 1px solid white;
    background-color: white;
    height: 40px;
    width: 420px;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(34, 134, 234);
    color: white;
}
.option2{
    display: flex;
    position: absolute;
    top: 60%;
    left: 10%;
    background-color: white;
}
.options{
    display: flex;
    position: absolute;
    top: 85%;
    left: 35%;
    background-color: white;
}
.last{
    margin-right: 40px;
    padding: 5px 20px;
}
.previous{
    background-color: rgb(95, 95, 247);
    border: none;
}
.next{
    background-color: green;
    border: none;
}
.quit{
    background-color: red;
    border: none;
}
.lastMain{
    background-color: white;
    text-align: center;
    height: 330px;
    width: 700px;
    margin-left: 25%;
    position: relative;
    border-left: 5px solid rgb(207, 162, 249);
}
.lastMain p, span, h3,h4 {
    background-color: white;
    font-size: larger;
}
.lastMain span{
    margin-left: 50%;
    font-weight: 700;
}
.movebtn button{
    text-align: center;
    margin-left: 20px;
    border: 2px solid green;
    background-color: white;
    color: green;
}
.movebtn{
    margin-top: 3%;
    margin-left: 42%;
}
.lastMain h4{
    color: blue;
    font-size: 1.75rem;
}
h2{
    text-align: center;
    font-size: 2rem;
    color: rgba(28, 240, 28, 0.795);
}